<% include partials/header.ejs %>

<% include partials/navbar.ejs %>
<img src="https://a0.muscache.com/im/pictures/11341171/d5ca49b5_original.jpg?aki_policy=xx_large" alt="casa" class="location-img">

<div class="container">
    <div class="container-main">
        <div class="container-main--head">
            <div class="content">
                <span class="title">Apartamento Inteiro</span>
                <span class="description">Pettinarihome Campo de FIORI</span>
                <span class="city">Roma</span>
            </div>
            <div class="user-image">

            </div>
        </div>
        <div class="container-main--body">
            <p class="content-title"><i class="fas fa-home"></i> Apartamento Inteiro</p>
            <span>2 hóspedes 1 quarto 1 cama 1 casa de banho</span><br>
            <p class="content-title"><i class="fas fa-medal"></i> Rita é um Superhost</p>
            <span>Superhosts são anfitriões experientes e muito bem avaliados, comprometidos em fornecer estadias
                excelentes para seus hóspedes.</span><br>
            <p class="content-title"><i class="fas fa-coffee"></i> Café da Manhã</p>
            <span>Este é um dos poucos lugares na região com esse recurso.</span><br>
            <p class="content-title"><i class="fas fa-bell"></i> Self Check-in</p>
            <span>Faça check-in sem problemas com o porteiro.</span>
        </div>
    </div>
    <div class="container-aside">
        <div class="check-room">
            <div class="house-info">
                <h3>95€</h3>
                <span>per night</span>
            </div>
            <form action="">
                <div class="mainpicture__form__position--input">
                    <div class="input--check">
                        <div class="input--checkin">
                            <label for="check_in">CHECK IN</label>
                            <input type="date">
                        </div>
                        <div class="input--checkout">
                            <label for="check_out">CHECK OUT</label>
                            <input type="date">
                        </div>
                    </div>
                </div>
                <div class="mainpicture__form__position--input">
                    <label for="guests">Request to Book</label>
                    <select name="options">
                        <option value="1">1 guest</option>
                        <option value="2">2 guests</option>
                        <option value="3">3 guests</option>
                    </select>
                </div>
                <div class="mainpicture__form__position--input">
                    <input type="submit" value="Search" id="search-btn">
                </div>
                <p class='form-info'>You won’t be charged yet</p>
            </form>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>


</html>