<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" href="./img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <form action="/test2" method="POST" id='user_form'>

        <label for="city">City</label>
        <input type="text" name="city"> <br>
        <label for="beds_quantity">Number of beds</label>
        <input type="number" name="quantity" min="0" max="10"> <br>
        <label for="img_url">URL:</label>
        <input type="url" name="url"> <br>
        <label for="price">Price:</label>
        <input type="number" name="price"> <br>
        <label for="title">Title</label>
        <input type="text" name="title"> <br>
        <input type="submit">

    </form>
</body>
    
</html>