<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" href="./img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <title>Airbnb</title>
</head>
<div class="container">
    <div class="container__explore">
        <h2>Explore <%= location %></h2>
        <div class="container__explore--box">
            <div class="container__explore--img">
                <img src="https://a0.muscache.com/im/pictures/8b7519ec-2c82-4c09-8233-fd4d2715bbf9.jpg?aki_policy=large"
                    alt="">
                <h3>Homes</h3>
            </div>
            <div class="container__explore--img">
                <img src="https://a0.muscache.com/im/pictures/cb8b3101-d419-4c17-8e2f-4989b39b98c3.jpg?aki_policy=large"
                    alt="">
                <h3>Experiences</h3>
            </div>
        </div>
    </div>
    
    
    <div class="container__rate">
        <div class="container__rate--head">
            <h2>Top-rated experiences</h2>
            <span>Highly reviewed by locals and travelers worldwide</span>
        </div>
        <div class="container__rate__grid">
                <% data.forEach(function(item) { %>
                    <div class="container__rate__grid--content">
                            <img src='<%=item.url %>' alt="">
                            <div class="container__rate__grid--content--text">
                                <h6>VERIFIED · ENTIRE APARTMENT</h6>
                                <h4><%= item.title %></h4>
                                <span><%= item.price %> per person</span>
                                <div class="container__rate__grid--content--text--rate">
                                    <span class="rate">4.99</span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span>202</span>
                                </div>
                            </div>
                        </div>
                <% }); %>
            
            <!-- <div class="container__rate__grid--content">
                <img src="https://a0.muscache.com/im/pictures/e21bf2f4-7b01-4175-a76a-b72b9d047173.jpg?aki_policy=large"
                    alt="">
                <div class="container__rate__grid--content--text">
                    <h6>boat ride · Gangneung-si</h6>
                    <h4>Yacht along the coast with a captain</h4>
                    <span>€40 per person</span>
                    <div class="container__rate__grid--content--text--rate">
                        <span class="rate">4.97</span>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span>70</span>
                    </div>
                </div>
            </div>
            <div class="container__rate__grid--content">
                <img src="https://a0.muscache.com/im/pictures/a7e59c75-a34d-4964-81e4-894e9b6afa66.jpg?aki_policy=large"
                    alt="">
                <div class="container__rate__grid--content--text">
                    <h6>animal encounter · Anacortes</h6>
                    <h4>Wolf Encounter</h4>
                    <span>€156 per person</span>
                    <div class="container__rate__grid--content--text--rate">
                        <span class="rate">4.95</span>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span>1371</span>
                    </div>
                </div>
            </div>
            <div class="container__rate__grid--content">
                <img src="https://a0.muscache.com/im/pictures/79335a79-379b-444b-8d52-251e89b378b9.jpg?aki_policy=large"
                    alt="">
                <div class="container__rate__grid--content--text">
                    <h6>wildlife spotting · San Ramon</h6>
                    <h4>Experience with a Sloth</h4>
                    <span>€18 per person</span>
                    <div class="container__rate__grid--content--text--rate">
                        <span class="rate">4.97</span>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span>208</span>
                    </div>
                </div>
            </div>
            <div class="container__rate__grid--content">
                <img src="https://a0.muscache.com/im/pictures/571e0e7b-6867-4c44-bd91-776a5d698fae.jpg?aki_policy=large"
                    alt="">
                <div class="container__rate__grid--content--text">
                    <h6>history walk · Paris</h6>
                    <h4>Paris' Best Kept Secrets Tour</h4>
                    <span>€49 per person</span>
                    <div class="container__rate__grid--content--text--rate">
                        <span class="rate">4.95</span>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span>1821</span>
                    </div>
                </div>
            </div>
            <div class="container__rate__grid--content">
                <img src="https://a0.muscache.com/im/pictures/b11a5248-93c2-4a56-b8f4-b37c2fd2371c.jpg?aki_policy=large"
                    alt="">
                <div class="container__rate__grid--content--text">
                    <h6>workshop · Seattle</h6>
                    <h4>Forge a knife from a horseshoe</h4>
                    <span>€72 per person</span>
                    <div class="container__rate__grid--content--text--rate">
                        <span class="rate">4.98</span>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span>320</span>
                    </div>
                </div>
            </div>
            <div class="container__rate__grid--content">
                <img src="https://a0.muscache.com/im/pictures/10eccf04-9d46-4d9d-8380-1f6b6080f7b6.jpg?aki_policy=large"
                    alt="">
                <div class="container__rate__grid--content--text">
                    <h6>workshop · Kyoto</h6>
                    <h4>Explore & Make Miniature Food in Kyoto</h4>
                    <span>€44 per person</span>
                    <div class="container__rate__grid--content--text--rate">
                        <span class="rate">4.97</span>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span>67</span>
                    </div>
                </div>
            </div>
            <div class="container__rate__grid--content">
                <img src="https://a0.muscache.com/im/pictures/830b2a71-a4de-416c-a435-9f3faaf8fbd3.jpg?aki_policy=large"
                    alt="">
                <div class="container__rate__grid--content--text">
                    <h6>paragliding · Yangpyeong-gun</h6>
                    <h4>Go paragliding with a pilot</h4>
                    <span>€111 per person</span>
                    <div class="container__rate__grid--content--text--rate">
                        <span class="rate">4.95</span>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span>147</span>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
