<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" href="./img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <title>Airbnb</title>
</head>
<div class="container">
    <div class="container__explore">
        <h2>Explore <%= location %></h2>
        <div class="container__explore--box">
            <div class="container__explore--img">
                <img src="https://a0.muscache.com/im/pictures/8b7519ec-2c82-4c09-8233-fd4d2715bbf9.jpg?aki_policy=large"
                    alt="">
                <h3>Homes</h3>
            </div>
            <div class="container__explore--img">
                <img src="https://a0.muscache.com/im/pictures/cb8b3101-d419-4c17-8e2f-4989b39b98c3.jpg?aki_policy=large"
                    alt="">
                <h3>Experiences</h3>
            </div>
        </div>
    </div>
    
    
    <div class="container__rate">
        <div class="container__rate--head">
            <h2>Top-rated experiences</h2>
            <span>Highly reviewed by locals and travelers worldwide</span>
        </div>
        <div class="container__rate__grid">
                <% data.forEach(function(item) { %>
                    <div class="container__rate__grid--content">
                            <img src='<%=item.url %>' alt="">
                            <div class="container__rate__grid--content--text">
                                <h6>VERIFIED · ENTIRE APARTMENT</h6>
                                <h4><%= item.title %></h4>
                                <span><%= item.price %> per person</span>
                                <div class="container__rate__grid--content--text--rate">
                                    <span class="rate">4.99</span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span>202</span>
                                </div>
                            </div>
                        </div>
                <% }); %>
        </div>
    </div>
</div>
